<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div>
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Pokemon</th>
						<th>Url</th>						
					</tr>
				</thead>
				<tbody>
					<tr th:each="results : ${resultados}">
					<td th:text="${results.name}"></td>
					<td th:text="${results.url}"></td>
					</tr>	
				</tbody>
			</table>
		</div>

</body>
</html>